/* h1 {
    transform: rotate(-90deg);
    font-size: 2em;
    position: absolute;
    top: 55vh;
    left: 40px;
} */

h2 {
    text-align: center;
    font-size: 3em;
}

header {
    margin-top: 2em;
}

.scroll-down-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scroll-down-arrow img {
    width: 100px;
    margin-bottom: 50px;
    animation: arrow 1s linear infinite;
    transform-origin: top bottom;
}

@keyframes arrow{
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-5px);
      }
  }

.center-elem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 50px 50px;
}

.center-elem-container p {
    margin: 0;
}

.profile-pic {
    width: 300px;
}

.text-box {
    display: flex;
    flex-direction: column;
}


@media (max-width: 900px) {
    h1 {
        transform: rotate(0);
        position: relative;
        text-align: center;
        font-size: 1.2em;
        top: 0;
        left: 0;
    }
    h2 {
        font-size: 1.2em;
    }
    .center-elem-container {
        flex-direction: column;
        gap: 20px;
    }
    .scroll-down-arrow img {
        width: 50px;
    }
    .profile-pic {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        background-size: 500px;
        background-repeat:repeat-x;
        width: 100vw;
    }
    
    .header__linked-icons {
        gap: 5px;
        height: 50px;
        margin: 20px 20px 5px auto;
    }
    
    .header__linked-icons img{
        width: 50px;
        height: 50px;
        order: 2;
    }
    
    .header__text {
        margin: 60px auto 0 auto;
        line-height: 1.5;
    }
    
    .header__profile-pic__container {
        margin-left: auto;
        padding-right: 80px;
    }
    .header__profile-picture--picture {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        border: 3px solid #FFFFFF;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    nav {
        display: none;
    }


}