nav {
    display: block;
}

nav>ul>li {
    text-align: center;
}

nav a {
    text-decoration: none;
    display: block;
    transition: 1s;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

nav li {
    list-style: none;
    font-size: 1em;
    line-height: 40px;
    border-color: black;
}

li a {
    color: black;
}

nav a {
    text-decoration: none;
    display: block;
    transition: 1s;
}

.outer-bar {
    height: .25em;
}

.inner-bar {
    height: .25em;
    width: 100%;
    background: #22f4b9;
    animation: fillBar 1s forwards;
    transform: scaleX(0);
    transform-origin: 0 0;
}

@keyframes fillBar {
    to {
        transform: scaleX(1)
    }
}

@media (min-width: 650px) {
    nav {
        display: block;
        text-align: right;
        margin-top: 2em;
    }

    nav li {
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        display: inline-block;
        margin-right: -4px;
    }

    nav ul {
        width: 140vh;
    }
}